@keyframes carousal-animate {
    0% {
        color: white;
        box-shadow: cornsilk -10px -20px 30px;
        background-color: rgba(220, 103, 7, 0.81);
    }

    50% {
        box-shadow: cornsilk 0px 0px 0px;
    }

    51% {
        box-shadow: transparent 0px 0px 0px;
    }

    100% {
        color: #00204a;
        font-size: 35px;
        box-shadow: black 10px 20px 30px;
        background-color: rgba(255, 255, 255, 0.884);
    }
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial, Helvetica, sans-serif
}

.carousel .carousel-item {
    height: 650px;
}

.carousel h3 {
    font-size: 30px;
    font-family: 'Segoe script', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: rgb(176, 110, 24) 5px 2px 10px;

    padding: 30px;
    border-radius: 20px;

    animation-name: carousal-animate;
    animation-duration: 2.8s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

.carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 400px;
}

.footer {
    max-width: 400px;
    margin: 0px auto -1%;
    background: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
    align-items: center;
    display: flex;
}

.box {
    max-width: 400px;
    margin: 0px auto -1%;
    background: #FEE715FF;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.footerBox {
    margin: auto;
}

p {
    margin: 0;
    padding: 20px;
    font-size: 20px;
    font-weight: 200;
    color: #00204a;
}

.add {
    margin-left: 200px;
}

.registerbtn {
    background-color: black;
    color: white;
    padding: 16px 10px;
    margin: 28px 40px;
    border: none;
    cursor: pointer;
    width: 60%;
    height: 20%;
    opacity: 0.9;
}

.registerbtn:hover {
    opacity: 100;
}

.card-deck .card .card-header {
    color: blue;
    font-size: 18px;
    text-shadow: yellow 3px 3px 10px;
}

.error {
    background-color: crimson;
    color: white;
    text-shadow: black 5px 5px 12px;
    padding: 2px;
}